We need to make **one contingency table per demographic**, so:
- Party × Gender
- Party × Age Group
- Party × Education Group

In [5]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

# Load data

In [6]:
# -------- settings --------
PRIVATE = "../data/survey_anonymised.csv"           # survey

# -------- load --------
s = pd.read_csv(PRIVATE)

In [7]:
s

,sex,evote,party,age_noisy,age_a,edu_a,citizenship_a,maritalstatus_a,zip_a
0,Female,0,Green,34,30–49,Lower,EU,Married,21xx
1,Female,0,Green,34,30–49,Lower,EU,Married,22xx
2,Female,0,Green,90,65+,Lower,EU,Single,22xx
3,Female,0,Green,36,30–49,Lower,non EU,Married,*
4,Male,0,Red,61,50–64,Lower,EU,Married,24xx
...,...,...,...,...,...,...,...,...,...
195,Female,1,Green,30,30–49,Higher,EU,Married,21xx
196,Male,0,Green,34,30–49,Lower,EU,Married,23xx
197,Female,0,Green,18,<30,Lower,EU,Married,22xx
198,Female,0,Red,25,<30,Higher,EU,Married,*
199,Male,0,Red,67,65+,Lower,EU,Single,23xx

# Make contingency tables

In [8]:
gender = pd.crosstab(s["sex"], s["party"])
education = pd.crosstab(s['edu_a'], s['party'])
age = pd.crosstab(s['age_a'], s['party'])
citizenship = pd.crosstab(s['citizenship_a'], s['party'])
marital = pd.crosstab(s['maritalstatus_a'], s['party'])
zipcode = pd.crosstab(s['zip_a'], s['party'])

gender

party   Green  Invalid vote  Red
sex
Female     60             1   43
Male       67             2   27

## Calculate p-values

In [9]:
chi2_gender, p_gender, dof_gender, exp_gender = chi2_contingency(gender)
chi2_education, p_education, dof_education, exp_education  = chi2_contingency(education)
chi2_age, p_age, dof_age, exp_age  = chi2_contingency(age)
chi2_citizenship, p_citizenship, dof_citizenship, exp_citizenship  = chi2_contingency(citizenship)
chi2_marital, p_marital, dof_marital, exp_marital  = chi2_contingency(marital)
chi2_zip, p_zip, dof_zip, exp_zip  = chi2_contingency(zipcode)

print(p_gender)
print(p_education)
print(p_age)
print(p_citizenship)
print(p_marital)
print(p_zip)

0.13115155398539474
0.00010976001284420524
0.0009324498858669109
0.45921180187570243
0.001575662379809279
0.3555662522600659