We need to make **one contingency table per demographic**, so:
- Party × Gender
- Party × Age Group
- Party × Education Group

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

# Load data

In [2]:
# -------- settings --------
PRIVATE = "../data/survey_anonymised.csv"           # survey

# -------- load --------
s = pd.read_csv(PRIVATE)

# Make contingency tables

In [3]:
gender = pd.crosstab(s["sex"], s["evote"])
education = pd.crosstab(s['edu_a'], s['evote'])
age = pd.crosstab(s['age_a'], s['evote'])
citizenship = pd.crosstab(s['citizenship_a'], s['evote'])
marital = pd.crosstab(s['maritalstatus_a'], s['evote'])
zipcode = pd.crosstab(s['zip_a'], s['evote'])

education

evote     0   1
edu_a
Higher   21  15
Lower   113  46
Other     3   2

In [4]:
chi2_gender, p_gender, dof_gender, exp_gender = chi2_contingency(gender)
chi2_education, p_education, dof_education, exp_education  = chi2_contingency(education)
chi2_age, p_age, dof_age, exp_age  = chi2_contingency(age)
chi2_citizenship, p_citizenship, dof_citizenship, exp_citizenship  = chi2_contingency(citizenship)
chi2_marital, p_marital, dof_marital, exp_marital  = chi2_contingency(marital)
chi2_zip, p_zip, dof_zip, exp_zip  = chi2_contingency(zipcode)

print(p_gender)
print(p_education)
print(p_age)
print(p_citizenship)
print(p_marital)
print(p_zip)

0.32056454236818155
0.30448107816290093
0.028267876785324768
0.5871853177991586
0.21614055355150874
0.08181373231134133